<script id="meta-ld" type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Article",
  "headline": "{{page_title}}",
  "datePublished": "{{page_created}}",
  "dateModified": "{{page_modified}}",
  "description": "{{page_descr}}",
  "keywords": "{{page_keywords}}",
  "image": {
    "@type": "ImageObject",
    "height": "512",
    "width": "512",
    "url": "https://{{site_domain}}{{site_url}}/assets/icons/android-chrome-512x512.png"
  },
  "author": "{{page_author}}",
  "publisher": {
    "@type": "Organization",
    "logo": {
      "@type": "ImageObject",
      "url": "https://{{site_domain}}{{site_url}}/assets/icons/android-chrome-512x512.png"
    },
    "name": "{{site_title}}"
  },
  "mainEntityOfPage": "https://{{site_domain}}{{page_url}}#content",
  "articleBody": "{{page_descr}}"
}
</script>
