<script id="site-search-ld" type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": "{{blog_title}}",
  "url": "https://{{blog_domain}}{{blog_url}}",
  "potentialAction": {
      "@type": "SearchAction",
      "target": "https://{{blog_domain}}{{blog_url}}/search.html?q={search_term}",
      "query-input": "required name=search_term"
  }
}</script>
