<script id="site-search-ld" type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": "{{site_title}}",
  "url": "https://{{site_domain}}{{site_url}}",
  "potentialAction": {
      "@type": "SearchAction",
      "target": "https://{{site_domain}}{{site_url}}/search.html?q={search_term}",
      "query-input": "required name=search_term"
  }
}</script>
