div.highlight pre .hll {
  background-color: #222222;
}
div.highlight pre {
  background: #000000;
  color: #cccccc;
}
div.highlight pre .c {
  color: #6262ff;
}
div.highlight pre .err {
  color: #cccccc;
  /* border: 1px solid #ff0000; */
}
div.highlight pre .esc {
  color: #cccccc;
}
div.highlight pre .g {
  color: #cccccc;
}
div.highlight pre .k {
  color: #cdcd00;
}
div.highlight pre .l {
  color: #cccccc;
}
div.highlight pre .n {
  color: #cccccc;
}
div.highlight pre .o {
  color: #3399cc;
}
div.highlight pre .x {
  color: #cccccc;
}
div.highlight pre .p {
  color: #cccccc;
}
div.highlight pre .ch {
  color: #6262ff;
}
div.highlight pre .cm {
  color: #6262ff;
}
div.highlight pre .cp {
  color: #6262ff;
}
div.highlight pre .cpf {
  color: #6262ff;
}
div.highlight pre .c1 {
  color: #6262ff;
}
div.highlight pre .cs {
  font-weight: bold;
  color: #eb0000;
}
div.highlight pre .gd {
  color: #eb0000;
}
div.highlight pre .ge {
  color: #cccccc;
  font-style: italic;
}
div.highlight pre .gr {
  color: #ff0000;
}
div.highlight pre .gh {
  font-weight: bold;
  color: #6262ff;
}
div.highlight pre .gi {
  color: #00cd00;
}
div.highlight pre .go {
  color: #888888;
}
div.highlight pre .gp {
  font-weight: bold;
  color: #6262ff;
}
div.highlight pre .gs {
  color: #cccccc;
  font-weight: bold;
}
div.highlight pre .gu {
  font-weight: bold;
  color: #d000d0;
}
div.highlight pre .gt {
  color: #296bff;
}
div.highlight pre .kc {
  color: #cdcd00;
}
div.highlight pre .kd {
  color: #00cd00;
}
div.highlight pre .kn {
  color: #d200d2;
}
div.highlight pre .kp {
  color: #cdcd00;
}
div.highlight pre .kr {
  color: #cdcd00;
}
div.highlight pre .kt {
  color: #00cd00;
}
div.highlight pre .ld {
  color: #cccccc;
}
div.highlight pre .m {
  color: #d200d2;
}
div.highlight pre .s {
  color: #eb0000;
}
div.highlight pre .na {
  color: #cccccc;
}
div.highlight pre .nb {
  color: #d200d2;
}
div.highlight pre .nc {
  color: #00cdcd;
}
div.highlight pre .no {
  color: #cccccc;
}
div.highlight pre .nd {
  color: #cccccc;
}
div.highlight pre .ni {
  color: #cccccc;
}
div.highlight pre .ne {
  font-weight: bold;
  color: #7272a1;
}
div.highlight pre .nf {
  color: #cccccc;
}
div.highlight pre .nl {
  color: #cccccc;
}
div.highlight pre .nn {
  color: #cccccc;
}
div.highlight pre .nx {
  color: #cccccc;
}
div.highlight pre .py {
  color: #cccccc;
}
div.highlight pre .nt {
  color: #cccccc;
}
div.highlight pre .nv {
  color: #00cdcd;
}
div.highlight pre .ow {
  color: #cdcd00;
}
div.highlight pre .w {
  color: #cccccc;
}
div.highlight pre .mb {
  color: #d200d2;
}
div.highlight pre .mf {
  color: #d200d2;
}
div.highlight pre .mh {
  color: #d200d2;
}
div.highlight pre .mi {
  color: #d200d2;
}
div.highlight pre .mo {
  color: #d200d2;
}
div.highlight pre .sa {
  color: #eb0000;
}
div.highlight pre .sb {
  color: #eb0000;
}
div.highlight pre .sc {
  color: #eb0000;
}
div.highlight pre .dl {
  color: #eb0000;
}
div.highlight pre .sd {
  color: #eb0000;
}
div.highlight pre .s2 {
  color: #eb0000;
}
div.highlight pre .se {
  color: #eb0000;
}
div.highlight pre .sh {
  color: #eb0000;
}
div.highlight pre .si {
  color: #eb0000;
}
div.highlight pre .sx {
  color: #eb0000;
}
div.highlight pre .sr {
  color: #eb0000;
}
div.highlight pre .s1 {
  color: #eb0000;
}
div.highlight pre .ss {
  color: #eb0000;
}
div.highlight pre .bp {
  color: #d200d2;
}
div.highlight pre .fm {
  color: #cccccc;
}
div.highlight pre .vc {
  color: #00cdcd;
}
div.highlight pre .vg {
  color: #00cdcd;
}
div.highlight pre .vi {
  color: #00cdcd;
}
div.highlight pre .vm {
  color: #00cdcd;
}
div.highlight pre .il {
  color: #d200d2;
}
