div.highlight pre .hll {
  background-color: #333333;
}
div.highlight pre {
  background: #111111;
  color: #ffffff;
}
div.highlight pre .c {
  font-style: italic;
  background-color: #0f140f;
  color: #009200;
}
div.highlight pre .err {
  color: #ffffff;
}
div.highlight pre .esc {
  color: #ffffff;
}
div.highlight pre .g {
  color: #ffffff;
}
div.highlight pre .k {
  color: #fb660a;
  font-weight: bold;
}
div.highlight pre .l {
  color: #ffffff;
}
div.highlight pre .n {
  color: #ffffff;
}
div.highlight pre .o {
  color: #ffffff;
}
div.highlight pre .x {
  color: #ffffff;
}
div.highlight pre .p {
  color: #ffffff;
}
div.highlight pre .ch {
  font-style: italic;
  background-color: #0f140f;
  color: #009200;
}
div.highlight pre .cm {
  font-style: italic;
  background-color: #0f140f;
  color: #009200;
}
div.highlight pre .cp {
  color: #ff0007;
  font-weight: bold;
  font-style: italic;
  background-color: #0f140f;
}
div.highlight pre .cpf {
  font-style: italic;
  background-color: #0f140f;
  color: #009200;
}
div.highlight pre .c1 {
  font-style: italic;
  background-color: #0f140f;
  color: #009200;
}
div.highlight pre .cs {
  font-style: italic;
  background-color: #0f140f;
  color: #009200;
}
div.highlight pre .gd {
  color: #ffffff;
}
div.highlight pre .ge {
  color: #ffffff;
}
div.highlight pre .gr {
  color: #ffffff;
}
div.highlight pre .gh {
  color: #ffffff;
  font-weight: bold;
}
div.highlight pre .gi {
  color: #ffffff;
}
div.highlight pre .go {
  background-color: #222222;
  color: #898989;
}
div.highlight pre .gp {
  color: #ffffff;
}
div.highlight pre .gs {
  color: #ffffff;
}
div.highlight pre .gu {
  color: #ffffff;
  font-weight: bold;
}
div.highlight pre .gt {
  color: #ffffff;
}
div.highlight pre .kc {
  color: #fb660a;
  font-weight: bold;
}
div.highlight pre .kd {
  color: #fb660a;
  font-weight: bold;
}
div.highlight pre .kn {
  color: #fb660a;
  font-weight: bold;
}
div.highlight pre .kp {
  color: #fb660a;
}
div.highlight pre .kr {
  color: #fb660a;
  font-weight: bold;
}
div.highlight pre .kt {
  color: #cdcaa9;
  font-weight: bold;
}
div.highlight pre .ld {
  color: #ffffff;
}
div.highlight pre .m {
  color: #0086f7;
  font-weight: bold;
}
div.highlight pre .s {
  color: #0086d2;
}
div.highlight pre .na {
  color: #ff0086;
  font-weight: bold;
}
div.highlight pre .nb {
  color: #ffffff;
}
div.highlight pre .nc {
  color: #ffffff;
}
div.highlight pre .no {
  color: #0086d2;
}
div.highlight pre .nd {
  color: #ffffff;
}
div.highlight pre .ni {
  color: #ffffff;
}
div.highlight pre .ne {
  color: #ffffff;
}
div.highlight pre .nf {
  color: #ff0086;
  font-weight: bold;
}
div.highlight pre .nl {
  color: #ffffff;
}
div.highlight pre .nn {
  color: #ffffff;
}
div.highlight pre .nx {
  color: #ffffff;
}
div.highlight pre .py {
  color: #ffffff;
}
div.highlight pre .nt {
  color: #fb660a;
  font-weight: bold;
}
div.highlight pre .nv {
  color: #fb660a;
}
div.highlight pre .ow {
  color: #ffffff;
}
div.highlight pre .w {
  color: #888888;
}
div.highlight pre .mb {
  color: #0086f7;
  font-weight: bold;
}
div.highlight pre .mf {
  color: #0086f7;
  font-weight: bold;
}
div.highlight pre .mh {
  color: #0086f7;
  font-weight: bold;
}
div.highlight pre .mi {
  color: #0086f7;
  font-weight: bold;
}
div.highlight pre .mo {
  color: #0086f7;
  font-weight: bold;
}
div.highlight pre .sa {
  color: #0086d2;
}
div.highlight pre .sb {
  color: #0086d2;
}
div.highlight pre .sc {
  color: #0086d2;
}
div.highlight pre .dl {
  color: #0086d2;
}
div.highlight pre .sd {
  color: #0086d2;
}
div.highlight pre .s2 {
  color: #0086d2;
}
div.highlight pre .se {
  color: #0086d2;
}
div.highlight pre .sh {
  color: #0086d2;
}
div.highlight pre .si {
  color: #0086d2;
}
div.highlight pre .sx {
  color: #0086d2;
}
div.highlight pre .sr {
  color: #0086d2;
}
div.highlight pre .s1 {
  color: #0086d2;
}
div.highlight pre .ss {
  color: #0086d2;
}
div.highlight pre .bp {
  color: #ffffff;
}
div.highlight pre .fm {
  color: #ff0086;
  font-weight: bold;
}
div.highlight pre .vc {
  color: #fb660a;
}
div.highlight pre .vg {
  color: #fb660a;
}
div.highlight pre .vi {
  color: #fb660a;
}
div.highlight pre .vm {
  color: #fb660a;
}
div.highlight pre .il {
  color: #0086f7;
  font-weight: bold;
}
