<iframe
  width="100%"
  height="500"
  frameborder="0" style="border:0; width:100%;"
  src="https://www.google.com/maps/embed/v1/{{#page_mapmode}}{{page_mapmode}}{{/page_mapmode}}{{^page_mapmode}}place{{/page_mapmode}}?key=AIzaSyCkm3CeQpkUNjqxU4L_c1-EVCwIse5-pUg{{#page_center}}&center={{page_center}}{{/page_center}}{{#page_zoom}}&zoom={{page_zoom}}{{/page_zoom}}{{#page_maptype}}&maptype={{page_maptype}}{{/page_maptype}}{{#page_language}}&language={{page_language}}{{/page_language}}{{#page_region}}&region={{page_region}}{{/page_region}}{{#page_location}}&q={{page_location | urlencode}}{{/page_location}}{{#page_origin}}&origin={{page_origin | urlencode}}{{/page_origin}}{{#page_destination}}&destination={{page_destination | urlencode}}{{/page_destination}}{{#page_waypoints}}&waypoints={{page_waypoints | urlencode}}{{/page_waypoints}}{{#page_mode}}&mode={{page_mode}}{{/page_mode}}{{#page_avoid}}&avoid={{page_avoid}}{{/page_avoid}}{{#page_units}}&units={{page_units}}{{/page_units}}" allowfullscreen>
</iframe>
