<ul class="grid {{classes}}">
  {{#ITEMS}}
  <li class="grid-item {{ITEM.category}} {{ITEM.slug}}">
    <h3 class="grid-item-heading"><a href="{{ITEM.url}}">{{ITEM.name}}</a></h3>
    <figure class="grid-item-figure">
      <img src="{{ITEM.image_url}}" alt="{{ITEM.name}}">
      <figcaption class="grid-item-summary">
        <!--
        <p class="grid-item-name"><a href="{{ITEM.url}}">{{ITEM.name}}</a></p>
        -->
        <p class="grid-item-date">{{ITEM.date}}</p>
        <p class="grid-item-author"><a href="{{site_url}}/authors/{{author_slug}}.html">{{ITEM.author}}</a></p>
        <p class="grid-item-descr">{{ITEM.descr}}</p>
        <p class="grid-item-tags">
          {{#tags}}
          <span><a class="tag" href="{{site_url}}/tags/{{.}}.html">{{.}}</a></span>
          {{/tags}}
        </p>
      </figcaption>
    </figure>
  </li>
  {{/ITEMS}}
</ul>
