<!--[if IE 6]><html lang="{{page_lang}}" class="preIE7 preIE8 preIE9 preIE10 preIE11"><![endif]-->
<!--[if IE 7]><html lang="{{page_lang}}" class="preIE8 preIE9 preIE10 preIE11"><![endif]-->
<!--[if IE 8]><html lang="{{page_lang}}" class="preIE9 preIE10 preIE11"><![endif]-->
<!--[if IE 9]><html lang="{{page_lang}}" class="preIE10 preIE11"><![endif]-->
<!--[if IE 10]><html lang="{{page_lang}}" class="preIE11"><![endif]-->
<!--[if gte IE 11]><!--><html lang="{{page_lang}}"><!--<![endif]-->
