<ul class="{{classes}}">
  {{#ITEMS}}
    <li>
      {{#has_date}}
        {{ITEM.created | time_tag to_string}}
      {{/has_date}}
      {{ITEM.before}} <a href="{{ITEM.url}}">{{ITEM.title}}</a> {{ITEM.after}}
    </li>
  {{/ITEMS}}
</ul>
