    <div class="site-header">
      <h1><a href="{{site_url}}">{{site_title}}</a></h1>
      {{#site_search_enabled}}
      <input type="search" class="site-search" id="site-search" placeholder="filter.." />
      {{/site_search_enabled}}
      <a class="off-screen skip-to-content" href="#content">Skip to content</a>
      <ul>
        {{#foreach link in site_header_pages}}
          <li><a href="{{link.url}}">{{link.title | lowercase}}</a></li>
        {{/foreach}}
      </ul>
    </div>
