

Here are some example products with PayPal payment buttons.

### Example: list of products defined in assets/data/products.yml:

{{>paypal_products_list}}

### Example: single product defined in page front matter:

{{>paypal_product_details}}

